
MyTimingWebAppDemo/.vscode
MyTimingWebAppDemo/.vs
MyTimingWebAppDemo/log
MyTimingWebAppDemo/bin/*
MyTimingWebAppDemo/obj/*

ValidatePasswordConsoleDemo/.vscode
ValidatePasswordConsoleDemo/bin/*
ValidatePasswordConsoleDemo/obj/*
