<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EntityGeneratorWebApp</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<header>
    @{
        var cookies = Context.Request.Cookies;
        if (cookies["PiaochongAccessToke"] == null)
        {
            <ul id="dropdownAccount" class="dropdown-content">
                <li>
                    <a asp-area="" asp-controller="Login" asp-action="SignIn">登陆</a>
                </li>
                <li style="display: none;">
                    <a href="#" id="linkLogout">登出</a>
                </li>
            </ul>
        }
        else
        {
            <ul id="dropdownAccount" class="dropdown-content">
                <li style="display: none;">
                    <a asp-area="" asp-controller="Login" asp-action="SignIn">登陆</a>
                </li>
                <li>
                    <a href="#" id="linkLogout">登出</a>
                </li>
            </ul>
        }

        <div id="modalConfirmLogout" class="modal" tabindex="0" style="height: auto;">
            <div class="modal-content">
                <h4>提示<i class="material-icons text-danger">warning</i></h4>
                <p>退出登陆将清除您的登陆信息！操作管理员功能将需要您重新登陆！是否确认退出</p>
            </div>
            <div class="modal-footer">
                <a href="#" class="modal-close waves-effect waves-red btn-flat">取消</a>
                <a id="linkConfirmedLogout" href="#" class="modal-close waves-effect waves-green btn-flat">确认</a>
            </div>
        </div>

        <nav>
            <div class="nav-wrapper container">
                <a href="#" data-target="mobile-navbar" class="sidenav-trigger">
                    <i class="material-icons">menu</i>
                </a>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="brand-logo">
                    <img src="~/img/logo.png" alt="MaXu" style="width: 2.4em;"/>
                </a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li class="nav-item active">
                        <a asp-area="" asp-controller="Home" asp-action="Index">主页</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Home" asp-action="Privacy">隐私</a>
                    </li>
                    <li class="nav-item">
                        <a class="dropdown-trigger" href="#" data-target="dropdownAccount">账号<i class="material-icons right">arrow_drop_down</i></a>
                    </li>
                </ul>
            </div>
        </nav>

        <ul class="sidenav" id="mobile-navbar">
            <li class="nav-item">
                <a asp-area="" asp-controller="Home" asp-action="Index"><i class="material-icons">home</i>主页</a>
            </li>
            <li class="nav-item">
                <a asp-area="" asp-controller="Home" asp-action="Privacy">隐私</a>
            </li>
        </ul>
    }
</header>

    <main role="main" class="main-container pb-3">
        @RenderBody()
    </main>

    <footer class="page-footer teal">

        <div class="container">

            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Footer Content</h5>
                    <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">链接</h5>
                    <ul>
                        <li>
                            <a class="grey-text text-lighten-3" href="#">我的Blazor应用</a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" href="#">Link 2</a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" href="#">Link 3</a>
                        </li>
                        <li>
                            <a class="grey-text text-lighten-3" href="#">Link 4</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer-copyright">
            <div class="container">
                &copy; @DateTime.Now.Year - tanwucheng@@outlook.com - <a class="brown-text text-lighten-3" asp-area="" asp-controller="Home" asp-action="Privacy">隐私</a>
                <a href="#" class="grey-text text-lighten-5 right">关于我</a>
            </div>
        </div>

    </footer>

    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/class.ie.js"></script>
    <script src="~/js/my.xmlhttprequest.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", false)
</body>
</html>