@page "/AutoComplete"

<h1>AutocompleteList</h1>

<div style="margin-top:2em;">
    <MatAutocompleteList
        Items="options"
        TItem="string"
        Label="Pick one"
        Icon="thumb_up_alt"
        Value="@options[0]"
        ShowClearButton="true"></MatAutocompleteList>
</div>

@code{
    string[] options = new[]
    {
        "One","Two","Three"
    };
}